body {
    background-image: url(If_Only_We_Could_Turn_Back_Time_Anna_Kwa.jpg);
    background-size: cover;
}

#dispDiv {
    /* background-image: linear-gradient(50deg, #4a4dff, #4a4dff); */
    backdrop-filter: blur(20px);
    text-align: center;
}

#displayButton {
    border-radius: 3px;
    border: none;
    outline: none;
    backdrop-filter: blur(70px);
}

label {
    color: whitesmoke;
}

input {
    border: none;
    border-radius: 3px;
    outline: none;
    backdrop-filter: blur(20px);
}

select {
    border: none;
    border-radius: 3px;
    outline: none;
    backdrop-filter: blur(20px);
}